/* ***************************
Formulaire de contact et de commande
*************************** */

/* Centrer le bouton envoyer  */
input.wpcf7-form-control.wpcf7-submit {
    display: block;
    margin: auto;
}

/* ***************************
Réglages divers
*************************** */
/* Paramétrage du comportement des images de la page d'accueil lors du passage en mode mobile */
.feuille-verte img {
    overflow: visible !important;
}

/* **********************
 Header : paramétrage du menu
********************** */

/* Changement de l'apparence lors du survol des liens de la classe .menu-survol (elle est associée aux liens "Nous rencontrer" et "Admin" ) */

.menu-survol a:hover {
    font-weight: 700 !important;
    font-size: 13px !important;
}


/* Paramétrage du bouton Commande  */
.menu-button a {
    background-color: #DC9F96;
}

.menu-button a:hover {
    background-color: #C02E44;
}

.menu-button span {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/* Suppression du cadre lors du focus des éléments du menu */
#wrap a:focus {
    outline: 0 !important;
}



/* *********************************
 Selection des produits de la page Commande 
**************************************** */

.all-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;


}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    color: white;
    padding-top: 60px;

}


.product-image {
    width: 192px;
    align-items: center;
    text-align: center;


}

.product-hover {
    margin-top: -80px;

}

.product-hover-two-lines {
    margin-top: -104px;


}

.selector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 40px;
}

.product-nb .elementor-kit-61 input[type="number"] {
    width: 51px;
    height: 56px;
    background-color: white;
}


.elementor-kit-61 input[type="number"] {
    border-radius: 5px 0px 0px 5px !important;
    width: 51px;
    height: 56px;
    font-size: 16px !important;
    font-family: inherit !important;
    font-weight: 400 !important;
}

.plus-minus {
    background-color: #dc9f96;
    color: white;
    height: 56px;
    width: 31px;
    font-size: 16px;
    font-family: Syne;
    font-weight: 400;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
}



.plus {
    height: 27px;
    border-bottom: 1px #FFFFFF solid;
}

.button-product {
    width: 100px;
    height: 56px;
    background-color: #dc9f96;
    border-radius: 5px;
    margin-left: 10px;
}

.button-product p {
    font-size: 16px;
    font-weight: 400;
    padding-top: 15px;
    text-align: center;
}



/* Séparateur */

.line-space {
    width: 860px;
    border-bottom: 1px #FFFFFF solid;

}

.space-40px {
    height: 40px;
}

/* **************************************
Information d'identité et de livraison
******************************** */

/* Définition du conteneur taille maximale */
#two-columns {
    max-width: 860px;
    margin: auto;
    width: 100%;
}

/* Style des titres Livraison et Vos informations */
#two-columns h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Style des labels */
#two-columns p {
    color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
}

/* Largeur de la ligne du formulaire sur 1 colonne */
.form-row {
    width: 100%;

}

/* Largeur des colonnes gauche et droite  */
.column-half-left,
.column-half-right {
    width: 100%;
    float: left;
    position: relative;

}

/* Style de la zone de saisie : hauteur et espacement */
input.wpcf7-form-control.wpcf7-text {
    min-height: 70px;
    margin-top: 10px;
}

/* Style de l'intervalle entre deux zones de saisie : espacement */
.commande-separateur {
    height: 30px;
}


/**---------------- Media query ----------------**/
/* Pour taille d'écran supérieur à 768px */
@media only screen and (min-width: 768px) {

    /* *********************
    Formulaire de commande 
    ******************************/
    .all-products {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .product {
        padding-top: 0px;

    }

    /* Style de la colonne de gauche  */
    .column-half-left {
        width: 50%;
        padding-right: 44px;
    }

    /* Style de la colonne de droite  : c'est elle qui tracera la ligne de séparation*/
    .column-half-right {
        width: 50%;
        padding-left: 44px;
        border-left: 1px #FFFFFF solid;
    }

    /* Style des titres et paragraphe en plein écran  */
    #two-columns h2 {
        font-size: 30px;
        margin-top: 0px;
    }

    #two-columns p {
        font-size: 20px;
    }

}